<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid main-container">
        <div class=" main-sidebar" id="sidebar">
            <div class="main-sidebar-profile-card-container">
            <div class="main-sidebar-profile-card ">
                <div class="profile-photo">

                </div>
                <span class="mt-2">Mayank Prasher</span>
                <span>123212321232</span>
            </div>
        </div>
            <div class="main-sidebar-btn text-center">Ration Card</div>
            <div class="main-sidebar-btn text-center">Book your appointment</div>
            <div class="main-sidebar-btn text-center">Find the Store</div>
            <div class="main-sidebar-btn text-center">Previous Transactions</div>
        </div>
        <div class="main-content" id="main-content">
            <div class="main-sidebar-close-btn  text-center" id="close-btn" onclick="closeBtn()">
                <i class="fa fa-close" style="display:block" id="icon-close"></i>
                <i class="fa fa-angle-double-right" aria-hidden="true" id="icon-right"style="display:none;"></i>
            </div>
                <div class='ration-card-container' id="ration-card-container">
                    <div class='ration-card' id="ration-card">
                        <div class='ration-card-inner'>
                        <div class='ration-card-front'>
                          <div class='ration-card-front-row-1'>
                            <div class='ration-card-logo'></div>
                            <div class='ration-card-title'><p>Delhi Government</p><p style="color:'#CD7C0E'">National Food Security Card</p></div>
                            <div class='ration-card-number'><p>card no.:1100 4433 9988</p></div>
                          </div>
                          <div class='ration-card-front-row-2'>
                            <div class='ration-card-item-image card-image1'></div>
                            <div class='ration-card-item-image card-image2'></div>
                            <div class='ration-card-user-image'></div>
                          </div>
                          <div class='ration-card-front-row-3'>
                            <span>Name: Shilpi Thakur</span>
                            <span>Address: 233 T-hut Narayana Area, Moti Nagar,Delhi</span>
                            <span>FPS Name: M/S Shri Shakti Traders(9016)</span>
                            <span class='type-span'>Type : AAY FSO Area:25</span>
                            </div>
                        </div>
                        <div class='ration-card-back'>
                        <div class='ration-card-back-row-1 p-3'><h3>Description of Family members</h3></div>
                          <div class='ration-card-back-row-2'>
                            <table>
                                <tr>
                                    <th style="width:'10%';">SNo.</th>
                                    <th style="width:'10%';">Name</th>
                                    <th style="width:'10%';">Relation</th>
                                    <th style="width:'10%';">Adhaar No.</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Roshan Shah</td>
                                    <td>Husband</td>
                                    <td>1123 3311 3342</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sahil</td>
                                    <td>Son</td>
                                    <td>1323 3341 3742</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sonam </td>
                                    <td>Daughter</td>
                                    <td>5123 9311 3392</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Vinay Shah</td>
                                    <td>Son</td>
                                    <td>1523 3611 6302</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Nagraj Shah</td>
                                    <td>Father in law</td>
                                    <td>6123 3971 3382</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>tapi devi</td>
                                    <td>Mother in law</td>
                                    <td>8123 3211 9382</td>
                                </tr>
                            
                                
                            </table>
                          </div>
                          <div class='ration-card-back-row-3'><div class='gov-image'></div><div class='barcode-image'></div></div>
                        </div>
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
</body>
<script>
    let x = true;
function closeBtn(){
    if(x){
         x = false;
        document.getElementById('sidebar').style.display = "none";
        document.getElementById('icon-right').style.display = "block";
        document.getElementById('icon-close').style.display = "none";
        document.getElementById('main-content').style.width ="100%";
        document.getElementById('close-btn').style.width ="2.5%";
        document.getElementById('close-btn').style.height ="5%";
        document.getElementById('ration-card-container').style.width ="100%";
        document.getElementById("ration-card").classList.replace("ration-card", "ration-card-toggle");
        
    }
    else{
        x = true;
        document.getElementById('sidebar').style.display = "flex";
        document.getElementById('icon-right').style.display = "none";
        document.getElementById('icon-close').style.display = "block";
        document.getElementById('main-content').style.width ="80%";
        document.getElementById('close-btn').style.width ="3%";
        document.getElementById('close-btn').style.height ="5%";
        document.getElementById('ration-card-container').style.width ="100%";
        document.getElementById("ration-card").classList.replace("ration-card-toggle", "ration-card");


    }
    
}
</script>
</html>