<%- include('./header.ejs') %>

<div class="pin-card-container">
    <% if(errorMessage){ 
        %>
        <span class="user-message user-message--error"><%= errorMessage %></span>
        <%}%>
    <!-- <form class="pin-card-form"> -->
    <div class=" pin-card mt-5" style="background-color:white !important; font-size: 20px;padding:30px;">
  
<center class="mt-4">You had already taken your monthly Ration </center>
   
    </div>
</div>
</div>
</div>
</body>
</html>