<%- include('./header.ejs') %>
<div class="slot-container">
    <div class="slot-card">
     <div class="slot-card-header text-center">
     Choose your Slot 
     </div>
     <div class="slot-card-content border">
       <table>
        <tr class="rowtable text-center" style="width:100%;">
          <td >
            <a href="/confirmation">
            <button class="btn btn-outline-success slot-btn">9:00</button>
        </a>
          </td>  
          <td>
            <button class="btn btn-outline-success slot-btn">9:20</button>
          </td>  
          <td>
            <button
            class="btn btn-outline-success slot-btn">9:40</button>
          </td>  
        </tr>
        <tr class="rowtable text-center" style="width:100%;">
          <td >
            <button class="btn btn-outline-success slot-btn">10:00</button>
          </td>  
          <td>
            <button class="btn btn-outline-success slot-btn">10:20</button>
          </td>  
          <td>
            <button
            class="btn btn-outline-success slot-btn">10:40</button>
          </td>  
        </tr>
        <tr class="rowtable text-center" style="width:100%;">
          <td >
            <button class="btn btn-outline-success slot-btn">11:00</button>
          </td>  
          <td>
            <button class="btn btn-outline-success slot-btn">11:20</button>
          </td>  
          <td>
            <button
            class="btn btn-outline-success slot-btn">11:40</button>
          </td>  
        </tr>
        <tr class="rowtable text-center" style="width:100%;">
          <td >
            <button class="btn btn-outline-success slot-btn">12:00</button>
          </td>  
          <td>
            <button class="btn btn-outline-success slot-btn">12:20</button>
          </td>  
          <td>
            <button
            class="btn btn-outline-disable slot-btn">12:40</button>
          </td>  
        </tr>
        <tr class="rowtable text-center" style="width:100%;">
          <td >
            <button class="btn btn-outline-success slot-btn">2:00</button>
          </td>  
          <td>
            <button class="btn btn-outline-success slot-btn">2:20</button>
          </td>  
          <td>
            <button
            class="btn btn-outline-success slot-btn">2:40</button>
          </td>  
        </tr>
       </table>
     </div>
    </div>
</div>
<%- include('./footer.ejs') %>