<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid hi text-center">
        <span>EasyRation.</span>
        <div class="auth-card">
            <div class="tab-btn-container">
                <div class="btn btn-success mt-1" style="width: 100%;">Log In for FPS Distributor</div>
            </div>
            <div class="tab-container">
              <% if(errorMessage){ 
                %>
                <span class="user-message user-message--error"><%= errorMessage %></span>
                <%}%>
              <div class="tab1" id="tab1">
                <form action="/authStorelogin" method="post">
                    <div class="mb-3 mt-4">
                        <input type="email" class="form-control" name="store_email" placeholder="Enter your Email" value="<%= oldInput.store_email%>">
                      </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="entered_fps_id" placeholder="Enter your FPS_id" value="<%= oldInput.entered_fps_id%>">
                      </div>
                      <a href="/" style="color: white !important;">User?</a><br><br>
                      <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</body>
</html>