<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid main-container">
        <div class=" main-sidebar" id="sidebar" style="overflow-y: scroll;">
            <div class="main-sidebar-profile-card-container">
            <div class="main-sidebar-profile-card ">
                <div class="profile-photo">

                </div>
                <span class="mt-2" style="font-size: 14px;"><%=store_name%></span>
                <span><%=fps_id%></span>
            </div>
        </div>
            <div class="main-sidebar-btn text-center"><a href="/app/store-dash">Profile</a></div>
            <!-- <div class="main-sidebar-btn text-center"><a href="/store/store/<%=fps_id%>">Store</a></div> -->
            <div class="main-sidebar-btn text-center"><a href="/app/userRegistration">User Registeration</a></div>
            <div class="main-sidebar-btn text-center"><a href="/app/inventory/<%=fps_id%>">Inventory</a></div>
            <div class="main-sidebar-btn text-center"><a href="/app/upcomingStoretrans">Upcoming Transactions</a></div>
            <div class="main-sidebar-btn text-center"><a href="/app/storePrevTrans">Previous Transactions</a></div>
            
        </div>
        <div class="main-content" id="main-content">
            <!-- <div class="main-sidebar-close-btn  text-center" id="close-btn" onclick="closeBtn()">
                <i class="fa fa-close" style="display:block" id="icon-close"></i>
                <i class="fa fa-angle-double-right" aria-hidden="true" id="icon-right"style="display:none;"></i>
            </div> -->
                <form action="/logout" method="post">
                    <button type="submit" class="main-sidebar-logout-btn text-center" id="logout-btn"><i class="fa fa-sign-out" style="display:block" id="icon-close"></i></button>
                </form>
      