<%- include('./store-header.ejs') %>
<div class="storeinfo-container">
    <div class="storeinfo-card ">
        <div class="storeinfo-card-header text-center">
        Inventory
        </div>
        <div class="storeinfo-card-content inventory-card">
        
        </div>
        <div class="storeinfo-card-footer">
        </div>
    </div>
    </div>
</div>
</div>
</body>
</html>