<%- include('./store-header.ejs') %>

<div class="pin-card-container">
    <% if(errorMessage){ 
        %>
        <span class="user-message user-message--error"><%= errorMessage %></span>
        <%}%>
    <!-- <form class="pin-card-form"> -->
    <div class=" pin-card mt-5">
    <div class="pin-card-header text-center"id="pin-card-header">
        <h3 class="mt-4" id="pin-heading"></h3>
    </div>

    <form action="/app/store" method="POST" style="width: 100%;height: 100%;">
    <div class="pin-card-form-front" id="pin-card-front">
          <input type="number" name="Ration_card_no" class="form-control mt-5" placeholder="Enter the Ration Card Number" value="<%=oldInput.entered_ration_num%>">
         <select name="slot" class="form-control mt-3">
            <option disabled>Choose Slot</option>
            <option>9:00</option>
            <option>9:20</option>
            <option>9:40</option>
            <option>10:00</option>
            <option>10:20</option>
            <option>10:40</option>
            <option>11:00</option>
            <option>11:20</option>
            <option>11:40</option>
            <option>12:00</option>
            <option>12:20</option>
            <option>12:40</option>
            <option>2:00</option>
            <option>2:20</option>
            <option>2:40</option>
         </select>
          <button type="submit" class="mt-4 pin-card-button" id="pin-card-btn"><i class="fa fa-angle-right" style="font-size:22px;"></i></button>
    </div>
</form>
    </div>

</div>
</div>
</div>
</body>
<script>
var i = 0;
     var txt = 'Enter User Information'; 
     var speed = 50; 

    function typing() {
    if (i < txt.length) {
    document.getElementById("pin-heading").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typing, speed);
  }
  
}

window.onload = typing();

</script>
</html>