@font-face {
    font-family: gilroy;
    src: url('/gilroy/Gilroy-Regular.ttf');
}
@font-face {
    font-family: gilroy-bold;
    src: url('/gilroy/Gilroy-Bold.ttf');
}
@font-face {
    font-family: gilroy-semibold;
    src: url('/gilroy/Gilroy-SemiBold.ttf');
}
b{
    font-family: gilroy-bold;
}
.hi{
    width: 100%;
    height: 100vh;
    position:absolute;
    background:url('/images/main-bg2.jpg')no-repeat;
    background-size: cover;
    filter:grayscale(20%);
    display: flex;
    flex-direction: column;
    align-items:center;
}
.hi span{
    font-family: gilroy-bold;
    font-size: 50px;
    margin-bottom: 50px;
}

.hi .auth-card{
    border-radius: 10px !important;
    width:40%;
    height:auto;
    background-color: rgba(12, 27, 5, 0.568);
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    align-items: space-between;
}
.user-message{

    margin: auto;
    /* width: 90%; */
    border: 1px solid #4771fa;
    /* padding:16px; */
    border-radius: 10px; 
    font-size: 17px !important;
    background: #b9c9ff;
    text-align: center;
  }
  
  .user-message--error{
    color: red;
    border-color: red;
    background: rgb(255,176,176);
  }
.tab-btn-container{
    width: 100%;
    height: 50px;
    /* border: white solid 1px; */
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.tab-btn{
    width: 50%;
    height: 100%;
    margin:1%;
    font-family: gilroy !important;
    font-size: 16px !important;
}
.tab-container{
    width: 100%;
    height:auto;
    padding: 12px;
}

.tab2{
    display: none;
    width:100%;
    /* background: aliceblue; */

}
.tab1{
    display: block;
    width:100%;
    /* background: aliceblue; */

}
/* main-page */
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    padding: 0 !important;
    background-color: #161900;
    /* overflow-y: scroll; */
}
/* navbar */
.main-sidebar{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: gilroy;
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
    background-color: #034101;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.main-sidebar-profile-card-container{
    height: 28%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 12px;
    background:#c2e8f1;
}
.main-sidebar-profile-card{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color:#FFFFFF;
    border-radius: 14px 14px ;
}
.profile-photo{
    width: 34%;
    height: 51%;
    border-radius: 50%;
    /* background-color: black; */
    background-image: url("../images/profile.png");
    background-size:cover;
}
.main-sidebar-btn{
 width: 80%;
 height: 10%;
 padding: 25px;
 margin-top:13%;
 border-radius:14px 14px;
 background-color:#1ad84d;
 color: white;
 font-family: gilroy-semibold;
 font-size: 16px;
}
.main-sidebar-btn a{
    color: white;
    text-decoration: none;
}
/* main-content */
.main-content{
    width:80%;
    height: 100vh;
    background-color: #161900;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.main-sidebar-close-btn,.main-sidebar-logout-btn{
    color: white;
    background-color:#47af63;
    font-size: 20px;
    height: 5%;
    width: 3%;
    padding: 7px;
    padding-left:6.5px;
    border-radius:50%;
    margin: 10px;
}
.main-sidebar-logout-btn{
    background-color:#e62020 !important;
    float: right;
}

/* rationcard */
.ration-card-container{
  
    margin-top: 60px;
    width: 100%;
    height: 65%;
    padding:40px;
    display:flex;
    flex-direction: column;
    /* border: 1px black dotted; */
    align-items: center;
   
}
.ration-card{
    width: 60%;
    height: 100%;
    border-radius:20px;
    background-color:transparent;
    perspective: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
/* #BCD800 */
.color{
    color:#1b5a73;
    color:#313130;
    color: #bcd800;
    color:#dd2b1c;
    color:#f4932c;

}

  .ration-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .ration-card:hover .ration-card-inner {
    transform: rotateY(180deg);
  }
  .ration-card-toggle:hover .ration-card-inner {
    transform: rotateY(180deg);
  }
  
  .ration-card-front, .ration-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius:20px;
  }
  
  .ration-card-front {
    display: flex;
    flex-direction: column;
    background-color: #BCD800;
    color: black;
  }
  .ration-card-front-row-1,.ration-card-front-row-2,.ration-card-front-row-3,.ration-card-back-row-1,.ration-card-back-row-2,.ration-card-back-row-3,.borderyes{ 
    width:100%;
    /* border: 1px dotted black; */
  }
  .ration-card-front-row-1{
        display: flex;
        flex-direction:row;
        height: 25%;
  }
  .ration-card-front-row-2{
        display: flex;
        flex-direction:row;
        height: 50%;
  }
  .ration-card-front-row-3{
        height: 25%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 15px;
  }
  .type-span{
    position: absolute;
    right: 0;
    font-size: 13px;
    padding-right:15px;
  }

  
  .ration-card-back {
    display: flex;
    flex-direction: column;
    background-color: #00A759;
    color: white;
    transform: rotateY(180deg);
  }
  .ration-card-back-row-1{
    height: 20%;
}
.ration-card-back-row-2{
    background-color:white;
    color: black;
    height: 56%;
}
.ration-card-back-row-2 table{
    width: 100%;
}
.ration-card-back-row-2 tr,td,th{
    border: 1px solid black;
}

.ration-card-back-row-3{
    display: flex;
    flex-direction: row;
    height: 24%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    justify-content: space-between;
}
.ration-card-logo{
    margin-left: 20px;
    margin-top: 20px;
    width: 15%;
    height: 100%;
    /* border: 1px dotted black; */
    border-radius: 50%;
    background: black;
    z-index:1;
    background-image: url("../images/flag.png");
    background-size: cover;
}
.ration-card-title{
    width: 45%;
    height:100%;
    /* border: 1px dotted black; */
    text-align:left;
    padding-left: 10px;
    padding-top: 28px;
    font-size: 17px;

}  
.ration-card-title p{
    margin: 0;
} 
.ration-card-number{
    width: 40%;
    /* border: 1px dotted black; */
    height: 100%;
    text-align: left;
    padding: 15px;
    font-size: 16px;
}
.ration-card-item-image{
    height: 100%;
    width: 35%;
    /* border: 1px dotted black; */
}
.card-image1{
    background: url('../images/rice.jpg');
}
.card-image2{
    background: url('../images/wheat.jpg');
    background-size: cover;
}
.ration-card-user-image{
    height: 100%;
    width:30%;
    background: url('../images/pro.jpg');
    background-size:cover;
    background-repeat: no-repeat;

}
.gov-image{
    width:25%;
    height:84%;
    /* border: 1px solid black; */
    background: url('../images/gov.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.barcode-image{
    width:25%;
    height:84%;
    /* border: 1px solid black; */
    background: url('../images/barcode.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* bookyourappointment */
.pin-card-container{
    /* border : 1px white solid; */
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .pin-card-form{
    width: 100%;
    height: 100%;
} */
.pin-card{
    width: 80%;
    height: 80%;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #034101;
}
.pin-card-header{
    width: 100%;
    height: 25%;
    font-family: gilroy-semibold;
    color: white;
}
.pin-card-header-back{
    width: 100%;
    height: 25%;
    font-family: gilroy-semibold;
    color: white;
    /* display: none; */
}
.pin-card-form-front{
    width: 100%;
    height:100%;
    background-color:#1ad84d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.pin-card-form-back{
    width: 100%;
    height:75%;
    background-color:#1ad84d;
    padding: 20px;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* .pin-card-form form{
    width: 100%;
    height: 100%;
   
} */
.pin-card-button{
    width: 6%;
    height:22%;
    border-radius: 50%;
    border: none;
}
.pin-card-button-back{
    width: 5%;
    height:25%;
    border-radius: 50%;
    border: none;
}
.table-container{
    border: white solid 1px;
    background-color: white;
    width: 100%;
    height: 75%;
    overflow: scroll;
    margin: 0;
}
.table-container table{
    font-family: gilroy;
    width: 100%;
}
.table-container table td{
    padding: 10px;
}
#store-table tr:nth-child(even){background-color: #f2f2f2;}

#store-table tr:hover {background-color: #ddd;}

/* confirmation-page */
.confirm-container,.slot-container,.find-card-container,.storeinfo-container{ 
    width: 100%;
    height:90%;
    display: flex;
    flex-direction: column;
    /* border: white solid 1px; */
    align-items: center;
    padding-top: 4%;
}
.confirmation-card,.slot-card,.storeinfo-card{
width: 80%;
height: 90%;
border-radius: 20px 20px 20px 20px;
overflow: hidden;
}
.confirmation-card-header,.slot-card-header{
    width: 100%;
    height: 10%;
    font-family: gilroy-semibold;
    color: white;
    background-color: #034101;
    font-size: 25px;
    padding-top: 0.5%;
}
.confirmation-card-content,.slot-card-content{
    width: 100%;
    height: 90%;
    background-color: #ddd;
    padding: 20px !important;
}
.confirmation-card-content table{
    width: 100%;
    height: 30%;
    font-family: gilroy;
}
#confirmation-table tr:nth-child(even){background-color: #f2f2f2;}
.confirmation-card-content tr{
 border: 1px solid black;
}
.slot-card-content table{
    width: 100%;
    height:100%;
    /* background-color: #ddd; */
   /* margin-top: 2%; */
}
.slot-btn{
width: 60%;
}
/* findtheStore */
.find-card{
width: 80%;
height: 100%;
border-radius: 20px 20px 20px 20px;
overflow: hidden;
}
.find-card-header{
    width: 100%;
    height: 10%;
    font-family: gilroy-semibold;
    color: white;
    background-color: #034101;
    font-size: 25px;
    padding-top: 1%;
}
.find-card-content{
    width: 100%;
    height: 42%;
    background-color: #1ad84d;
    padding: 20px !important;
    border-radius: 0px 0px 20px 20px;
}

.find-card-table{
    display: none;
    width: 100%;
    height: 48%;
    background-color: #1ad84d;
    padding: 20px !important;
    /* border-radius: 0px 0px 20px 20px; */
}
/* StoreInfo */
.storeinfo-card-header,.storeinfo-card-footer{
    width: 100%;
    height: 10%;
    font-family: gilroy-semibold;
    color: white;
    background-color: #034101;
    font-size: 25px;
    padding-top: 1%;
}
.storeinfo-card-content{
    width: 100%;
    height: 80%;
    background: #ddd;
    padding: 20px !important;
    font-family: gilroy;
    padding-top: 30px !important ;
}
.info-profile-photo{
 width: 20%;
 height: 48%;
 float: right;
 background-color: red;
 border-radius: 50%;
 /* z-index:1; */
}
.storeinfo-card-content center b{
font-size: 24px;
}
.storeinfo-card-content span b{
    font-size: 20px;
}
.storeinfo-card-content span{
    font-size: 18px;
    margin:2%;
}
.storeinfo-card-content center button{
    margin-top: 7%;
    width: 20%;
}
.user-registration-card-container{
    /* border : 1px white solid; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-registration-card-header{
    width: 100%;
    height: 15%;
    font-family: gilroy-semibold;
    color: white;
}
.user-registration-card{
    width: 80%;
    height: 85%;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #034101;
}
.registration-card{
    width: 100%;
    height: 100%;
    background-color: #1ad84d;
    display: flex;
    flex-direction: column;
}
.aadhar-details{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction:row;
    margin-top: 2px;
    padding: 4px;
}
.aadhar-details-comp{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    padding: 10px;

}
.member-input-container{
    width: 100%;
    height: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.member-input{
    display: flex;
    flex-direction: row;
    padding: 8px;
}
.inventory-card table{
    width: 100%;
}
.inventory-card table tr{
    width: 100%;
    border-top: 30px solid transparent;
}
.stock-card form{
    padding: 5%;
}
.trans-card-container{
    /* border : 1px white solid; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trans-card-form-back{
    width: 100%;
    height:80%;
    background-color:#1ad84d;
    padding: 20px;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.find-card-button{
    width: 6%;
    height:30%;
    border-radius: 50%;
    border: none;
}